body {
  background-color: #C7EDCC;
}
img { max-width: 100%;}

.avatar {
  border-radius: 6px;
  height: 230px;
  width: 230px;
}

#goToTop{

  display:block;
  width:40px;
  height:40px;
  position:fixed;
  bottom:10px;
  right:10px;
  border-radius:10px 10px 10px 10px;
  text-decoration:none;
  display:none;
}

#goToTop span{
  display:block;
  color:#dddddd;
}

#goToTop span:hover{
  color:#cccccc;
}
