---
layout: page
title: Tags
permalink: /tags/
---

{% include tags.html %}

<hr id="line"/>
{% for item in (0..site.tags.size) %}{% unless forloop.last %}
{% capture word %}{{ tag[item] | strip_newlines }}{% endcapture %}
<h2 class="category" id="{{ word }}">{{ word }}</h2>
{% for post in site.tags[word] %}{% if post.title != null %}
<ul><li class="category-sub">{{ post.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a class="category-sub-title" href="{{ post.url }}" >{{ post.title }}</a></li></ul>
{% endif %}{% endfor %}
{% endunless %}{% endfor %}
<br/><br/>

